<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div style="display: flex; flex-direction:row; ">
<h1>Blog application  </h1>
{% if user.is_authenticated %}
  <p style="position: relative; left:1000px; top:15px;"> <a style="color:black; font-size:20px; font-weight:bolderx" href="/profile/">{{ user.username }}</a></p>
  
{% else %}
  <p  style="position: relative; left:1000px; top:15px;"> <a style="color:black; font-size:20px; font-weight:bolderx" href="/login/">log in</a> </p>
{% endif %}

<p style="position: relative; left:800px; top:15px;" > <a style="color:black; font-size:20px; font-weight:bolderx" href="/posts/">All posts</a></p>

</div>

<hr>
{% block content %}
{% endblock %}

</body>
</html>