{% extends 'base.html' %}

{% block content %}
    <p>Back to <a href="/posts/">Posts</a></p>
    <h2>Profile</h2>
    <p>Username: {{profile.user.username}}</p>
    <form action="" method="POST">
        {% csrf_token %}
        <button style="color:white; background-color:darkblue" type="submit">Follow</button>
    </form>
    <p></p>
    <label for="avatar">Avatar</label>
    {% if profile.avatar %}
        <img id="avatar" src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}'s Avatar" style="width: 200px; height: 200px;">
    {% else %}
    <p>Not avatar</p>
    {% endif %}
    <p>{{profile.bio}}</p>
        
{% endblock %}
